.create-protocols-page-container {
    padding:20px;
   
}

.container {
    display: flex;
}

.separator {
    flex: 1 1 50%;
    padding: 10px;
    
}

.line {
   padding-right: 40px;
}

.line2 {
    padding-top: 30px;
 }